body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 2px solid #E74C3C!important;
    background-color: #fee!important;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.box_margin {
    margin: 34px 0 63px 42px !important;
}

.edit_button{
    background-image:url("/content/images/edit.png");
    background-repeat:no-repeat;
    text-indent: -9999px;
    width: 19px;
    height: 19px;
    display: inline-block;
}
.delete_button {
    background-image:url("/content/images/delete.png");
    background-repeat:no-repeat;
    text-indent: -9999px;
    width: 19px;
    height: 19px;
    display: inline-block;
}

.btn_logout {
    color: #FFF!important;
    margin-top: 9px!important;
}

.create_button {
   float: right;
   margin: 35px 1px 0 0;
   /*font-size: 16px!important;
   text-decoration: underline;
   padding: 10px 0px!important;*/
}