@model PodioAspNetSample.ViewModels.LeadViewModel
@{
    ViewBag.Title = "Create Lead";
}
@{
    if (ViewBag.message != null)
    {
        <div class="alert alert-success fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p>@ViewBag.message</p>
        </div>
    }
    if (ViewBag.error != null)
    {
        <div class="alert alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p>@ViewBag.error</p>
        </div>
    }
}
<div class="row">
    <div class="col-lg-12">
        <div class="well bs-component">
            @using (Html.BeginForm("Create", "Leads", FormMethod.Post, new { @class = "form-horizontal" }))
            {
               @Html.Partial("_Lead")
                
                <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-success" value="Create">Create Lead</button>
                </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/bootstrap/bootstrap-datepicker.js"></script>
    <script>
        jQuery('#NextFollowUp').datepicker({
            format: 'dd/mm/yyyy'
        });
        jQuery.validator.methods["date"] = function (value, element) { return true; }
    </script>
}